<h1>designs</h1>
 <div id="designsList">
  {{designs}}
    <ul>
      {{#each designs}}
        <br />
        <li>Titulo:{{this}}, Id:{{id}}, Precio{{price}}, Stock:{{stock}}</li>
        <li>{{photos}}</li>
        <img src="/images/designs/{{photos}}" alt="">
        <a href="http://localhost:8080/designDetail/?pId={{id}}">Check
          more details</a>
          {{userCart}}
       
          <button onclick="addDesignToCart(`{{id}}`)">Add to cart</button>
        
        <br />
      {{/each}}
    </ul>
  </div>
   </div>
  {{#if designs.hasPrevPage}}
        <a href="/products/?page={{designs.prevPage}}">Anterior</a>
        {{/if}}
        <span>Página {{designs.page}} de {{designs.totalPages}}</span>
        {{#if designs.hasNextPage}}
        <a href="/products/?page={{designs.nextPage}}">Siguiente</a>
        {{/if}}
</div>